body {
  background-color: #F9FFFF;
  background-image: image(01.jpg);
}

h1 {
  font-family: 'Roboto', serif;
  color: black;
  font-size: 48px;
  text-align: left;
}
p {
  font-family: 'Roboto',serif;
  color: grey;
  text-align: left;
}
.words{
  font-family: 'Roboto',serif;
  color: white;
  font-size: 25px;
  text-align: left;
  position:absolute;
  top:30%;
  left:10%;
  right:10%;
  z-index: 15;
  background:#000000;
  opacity: 0.7
  }
.imageword{position: relative;}

h2 {
  font-family: 'Roboto', serif;
  color: black;
  font-size: 42px;
  text-align: center;
}

h3 {
  font-family: 'Roboto', serif;
  color: black;
  font-size: 36px;
  text-align: center;
}
